.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

}

.background{
    height: 60vh;
    position: absolute;
    left: 0;
    margin-top: 100px;
    
}
.info {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    flex-direction: column;
}
input {
    border-radius: 22px;
    min-width: 250px;
    width: 50%;
    margin-right: 12px;
    border: 1px solid #9999;
    background: transparent;
    font-size: 18px;
    padding: 10px;
    color: Black;
}
button{
    border-radius: 22px;
    color: antiquewhite;
    margin-right: 12px;
    border: 1px solid #9999;
    background: #EB6A40 ;
    font-size: 18px;
    padding: 10px;
}
.perfil{
    display: flex;
    margin: 40px 0;
    
}
.profile {
    border-radius: 32px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-right: 32px;

}

.perfil h3 {
    color: black;
    font-size: 24px;
    margin: 0;


}
.perfil p {
    color: black;
    font-size: 28px;
    margin: 0;
    margin: 20px 0 0 0;
}
.perfil span {
    display: block;
    font-size: 18px;
    margin: 0;
    color: black;
}

.repositorio{
    font-size: 36px;
    color: black;
    margin: 12px 0;
    text-align: center;

}
