.item-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start; 
    width: 100%; 
    cursor: pointer;
  }
  

.item-list h2 {
    color: #EB6A40;
    font-size: 30px;
    margin: 24px;

}
.item-list hr {
    border: none; 
    border-top: 1px solid #ccc; 
    margin: 0; 
    width: 100%; 
  }
  
